body{
  padding:20px;
  background-color: #85b1ad;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.base {
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px;
  background-color: rgb(207, 227, 235);
  margin-right: 30px;
}
.result {
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px;
  background-color: rgb(225, 234, 238);
}
.hoi {
  display: flex;
  flex-direction: column;
}
.hoi li {
  margin-top: 6px;
}
input[type="text"] {
  margin-right: 8px;
}
.detail {
  display: flex;
  flex-direction: column;
}
section {
  margin-top:10px;
}
h1{
  font-size:20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.emphasis {
  font-size:26px;
  padding-right: 10px;
  text-decoration: wavy underline #c3a400;
}
.attention_red {
  color: red;
  font-weight: bold;
}
/* .emphasis::after {
  width: 100%;
  height: 8px;
  background-image: repeating-linear-gradient(
    127deg,#c3a400,#c3a400 2px,transparent 2px,transparent 4px
  );
} */
h2 {
  font-size:20px;
}
ul {
  list-style:none;
  padding-left:20px;
}
li {
  display:flex;
  flex-direction:row;
  line-height:30px;
}
.h_results {
  text-decoration: underline white 3px;

}
form p {
  margin-bottom:4px;
}
.btn {
  margin-top: 30px;
}

input[type="number"] {
  border:solid 1px #3269bb;
  padding-left: 2px;
  box-sizing: border-box;
  /* font-weight: bold; */
  font-size:16px;
  width:50px;
  height: 30px;
  text-align: right;
}
input[type="submit"] {
  background-color: #3269bb;
  border:solid 1px #3269bb;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  color:wheat;
}
